.coursePanelContainer {
  height: fit-content;
  position: relative;
}

.reviewPage {
  grid-template-columns: minmax(0, 1fr) min-content;
}

.courseCard {
  margin: var(--card-padding);
}

.coursePanel {
  position: relative;
  padding: 0;
  :global(.tabs-row) {
    border: 0px;
    border-radius: 0;
  }
  > .courseCard, .courseCard-skeleton, .reviewEdit {
    margin: var(--card-padding);
  }
  p {
    line-height: var(--line-height);
  }
}

.course-error-card {
  display: flex;
  flex-direction: column;
}

.vertical-divider {
  width: 1px;
  height: 16px;
  background-color: #3b3b3b80;
}
.coursePanelFab {
  position: fixed;
  right: calc((100vw - var(--max-width)) / 2 + 32px);
  bottom: 20px;
}

.gradeRow.standalone {
  width: var(--second-column-width);
  height: 120px;
  background-color: var(--surface);
}

@media only screen and (max-width: 1260px) {
  .coursePanel {
    max-height: none;
  }
  .coursePanelFab {
    right: 20px;
  }
}
