.gradeRow {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  flex-wrap: wrap;
  > div:first-child {
    height: 33px;
  }
  svg {
    color: #3b3b3bbf;
  }
  > div:first-child > div {
    margin: 6px;
  }
}

.grade-indicator.reviewsFilterGradeIndicator.overall {
  margin: -10px 6px -10px 0px !important;
  height: 50px;
  border-radius: 0;
}

.ratingContainer {
  cursor: default;
  padding: 0 10px;
  height: 30px;
  > .reviewsFilterLabel {
    margin: 0 10px 0 0;
  }
}

.gradeRow {
  &.review-header {
    > div > .ratingContainer {
      height: 38px;
    }
    .ratingContainer.active {
      border-bottom: 2px solid var(--accent);
    }
  }
  &.concise {
    margin-bottom: var(--card-padding);
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    > .ratingContainer {
      flex: 1;
      justify-content: space-between;
      margin: 6px;
    }
    .overall {
      display: none;
    }
  }
  &.review-header {
    .center-row {
      height: auto;
    }

    > div:first-child > div {
      margin: 0;
    }
  }
}
