.reviewCard {
  --reviewCard-inner-padding-horizontal: 18px;
  --reviewCard-inner-padding-vertical: 12px;
  position: relative;
  overflow: hidden;
  svg {
    color: var(--caption);
  }
}
.reviewTitle {
  margin: var(--reviewCard-inner-padding-vertical) var(--reviewCard-inner-padding-horizontal);
  font-size: 14px;
  font-weight: 500;
  color: var(--caption);
  line-height: 22px;
  padding-left: 24px;
  svg {
    position: absolute;
    left: var(--reviewCard-inner-padding-horizontal);
    top: 14px;
    font-size: 18px;
  }
}
.reviewTitleAuthor {
  color: var(--caption);
  font-weight: normal;
  font-size: 14px;
}

.reviewsFilter {
  &.review {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: var(--background-secondary);
  }
}
.gradeRow {
  &.reviewGradeRow {
    background-color: transparent;
    border-radius: 0;
    .ratingContainer {
      height: 48px;
      padding: 0 10px;
      &:hover {
        padding-top: 0;
      }
    }
  }
}
.reviewText {
  text-align: start;
  font-size: 14px;
  line-height: var(--line-height-caption);
  margin: 0;
  padding: 0 var(--reviewCard-inner-padding-horizontal) var(--reviewCard-inner-padding-vertical)
    var(--reviewCard-inner-padding-horizontal);
  white-space: pre-wrap;
}
.reviewInfoRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--reviewCard-inner-padding-vertical) var(--reviewCard-inner-padding-horizontal);
  width: 100%;
  .reviewsFilterLabel {
    margin: 0;
  }
  .term {
    font-weight: 500;
    font-size: 15px;
    color: var(--primary);
    margin-left: 10px;
    margin-right: 6px;
  }
  .separator {
    margin-right: 6px;
  }
  .lecturer {
    font-weight: 600;
    font-size: 15px;
    color: var(--primary);
  }
  &.no-title {
    margin-top: 8px;
  }
  & > :nth-child(2) {
    flex: 1;
    margin-left: 16px;
  }
}
.reviewsFilterLabel {
  &.author {
    text-transform: none;
    margin: 0;
    & > span {
      color: var(--text);
      cursor: pointer;
    }
  }
}
.reviewTextFull {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  &.retracted {
    overflow: hidden;
    max-height: 360px;
    .reviewShowMoreOverlay {
      padding-bottom: 10px;
      svg {
        color: var(--primary);
      }
    }
  }
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.reviewTextLabel {
  text-align: start;
  text-transform: capitalize;
  color: var(--primary);
  padding: var(--reviewCard-inner-padding-vertical) var(--reviewCard-inner-padding-horizontal);
  font-weight: bold;
}
.reviewBottomRow {
  padding: 8px var(--reviewCard-inner-padding-horizontal);
  border-top: 1px solid var(--border);
  &.retracted {
    margin-top: 0;
  }
  .shareIconBtn {
    color: var(--text);
    opacity: 0.8;
  }
}
.reviewBottomBtnRow {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: var(--card-padding);
}
@media only screen and (max-width: 1260px) {
  .reviewsFilterLabel {
    &.author {
      font-size: 12px;
    }
  }
  .reviewText {
    width: calc(100vw - 2 * var(--reviewCard-inner-padding-horizontal));
    overflow-wrap: break-word;
  }
  .reviewTextFull {
    grid-template-columns: repeat(1, 1fr);
  }
  .reviewCard {
    .tab {
      &:hover {
        padding-top: none;
        border-bottom: none;
      }
    }
  }
  .gradeRow.reviewGradeRow {
    & > div:first-child {
      display: none;
    }
    .ratingContainer {
      flex-direction: column;
      height: 62px;
      justify-content: center;
      flex: 1;
    }
    .ratingContainer {
      > .reviewsFilterLabel {
        margin-bottom: 10px;
      }
      &.active {
        border: none;
      }
    }
  }
}
