.reviewPage {
  grid-template-columns: minmax(0, 1fr) min-content;
}
.reviewHomePanel {
  padding: 0;
  grid-auto-rows: min-content;
}
.rankingCard {
  overflow: hidden;
  border-bottom: 0;
  width: 100%;
  & > * {
    border-bottom: 1px solid var(--border);
  }
  &:first-child {
    margin-left: 0;
  }
  :global(.list-item-container) {
    height: auto;
    border-bottom: none;
    border-right: none;
    :global(.list-item-title-container) {
      margin-left: 0;
    }
    & > :last-child {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }
  .gradeIndicator {
    width: 56px;
    height: 28px;
  }
}

.rankingLabel {
  width: 40px;
  opacity: 0.5;
}

.sortMenu {
  text-transform: capitalize;
}

.recentReview {
  --recentReview-width: calc(100% - 2 * var(--card-padding));
  width: var(--recentReview-width);
  padding: 0 var(--card-padding) 12px var(--card-padding);
  :global(.list-item-title-container) {
    margin-left: 0;
    :global(.title) {
      color: var(--primary);
    }
  }
  .recentReviewText {
    line-height: var(--line-height);
    width: 100%;
    white-space: pre-line;
    -webkit-line-clamp: 3;
  }
  .gradeIndicator {
    width: 36px;
    height: 36px;
  }
}

@media only screen and (max-width: 1260px) {
  .homeChipsRow {
    padding: 0 8px;
    width: calc(100% - 2 * 8px);
  }
  .rankingCard {
    width: 100%;
    &:last-child {
      margin-left: 0;
      margin-top: var(--card-padding);
    }
  }
  .recentReviewText {
    max-width: calc(100vw - 2 * var(--card-padding));
  }
}
