.planner-timetable-selection-menu {
  --menu-padding-horizontal: 16px;
  --menu-padding-vertical: 6px;
  & .MuiPaper-root { // Menu contianer
    .MuiSvgIcon-root {
      font-size: 22px;
    }
    .MuiList-root {
      padding: 0;
    }
    h4 {
      margin: 12px var(--menu-padding-horizontal);
      color: var(--accent);
    }
  }
  & .timetable-label-input-container {
    margin: 0 var(--menu-padding-horizontal) var(--menu-padding-vertical) var(--menu-padding-horizontal);
  }
  & .MuiButtonBase-root:last-child {
    color: var(--accent);
    font-weight: bold;
  }
  & .timetable-select-item .MuiIconButton-root {
    margin-left: auto;
  }
}

.time-table-panel {
  & > header {
    justify-content: space-between;
    .title {
      font-size: 18px;
    }
    .btn-row {
      & > button {
        margin-left: 24px;
        color: var(--text);
        .MuiButton-label {
          text-transform: capitalize;
        };
        .MuiSvgIcon-root {
          font-size: 22px;
        }
      }
    }
  }
}

.home-page-timetable {
  min-height: calc(100vh - 202px);
}

@media only screen and (max-width: 1260px) {
  .time-table-panel {
    padding: var(--card-padding);
    overflow-x: scroll;
    & > header {
      position: sticky;
      top: 0;
      left: 0;
    }
  }
}
