.forumTextIcon {
  margin-right: var(--message-spacing);
}

.message {
  --message-spacing: 10px;
}

.messageUsername {
  margin: 0px var(--message-spacing) 6px 0;
  font-weight: 500;
  font-size: 14px;
  :global(.caption) {
    margin-left: 4px;
    font-size: 13px;
  }
}

.messageText {
  font-size: 14px;
  font-weight: normal;
}

.messagesContainer {
  row-gap: 20px;
  .loadMoreBtn {
    margin-right: auto;
    margin-left: auto;
    &:global(.MuiButton-text) {
      color: var(--primary);
      font-size: 12px;
    }
    border: 2px solid var(--primary);
  }
}

.messageInputContainer {
  position: sticky;
  bottom: 8px;
  margin-top: 10px;
  width: inherit;
  padding: 0 var(--card-padding);
  input {
    flex: 1;
    background-color: transparent;
    padding-left: 0;
    height: 58px;
  }
  :global(.MuiIconButton-root) {
    margin-right: 4px;
  }
}
