.likeBtn {
  margin-right: 8px;
  height: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  opacity: 0.8;
}
.likeBtnRow {
  background-color: var(--background);
  border-radius: 50px;
  overflow: hidden;
  margin-left: auto;
  & > .likeBtn {
    border-radius: 0;
    &:global(.active.Mui-disabled) {
      svg {
        color: var(--primary);
      }
      color: var(--primary);
      opacity: 1;
      border: none;
    }
  }
  :global(.MuiDivider-root) {
    height: 20px;
  }
  & > :global(.MuiButton-root) {
    &:global(.Mui-disabled) {
      color: var(--text);
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 1260px) {
  .likeBtnRow {
    margin-left: 6px;
  }
}