
.reviewsFilter {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  svg {
    color: var(--text);
  }
  flex-direction: row;
  .filterRow {
    .reviewsFilterLabel {
      margin: 0;
      font-weight: 500;
    }
  }
  button {
    &.edit {
      font-size: 18px;
      width: 32px;
      height: 32px;
    }
  }
}
.reviewsFilter-ratings {
  align-items: center;
}

@media only screen and (max-width: 1260px) {
  .reviewsFilter {
    padding: 12px var(--card-padding);
  }
  .filterRow {
    button {
      :global(.MuiButton-endIcon) {
        margin-left: 0;
      }
    }
  }
}
