.plannerFooter {
  margin-top: 4px;
}

.planner-share-dialog {
  .share-link-row {
    height: 46px;
    .copy {
      height: 100%;
      margin-left: 6px;
      width: 72px;
    }
  }
}

.plannerInputContainer {
  flex: 1;
}

.share-btn-row {
  width: 100%;
  justify-content: center;
  .share, .copy {
    background-color: var(--text);
    color: var(--reversed-text);
    &:hover {
      background-color: var(--text);
    }
  }
  .share {
    padding: auto 12px;
    width: 100%;
    margin-top: 2px;
    height: 40px;
    &.Mui-disabled {
      cursor: not-allowed;
      background-color: var(--caption-light);
      color: var(--reversed-text);
    }
  }
}

@media only screen and (max-width: 1260px) {
  .planner-timetable-container {
    max-width: 100vw;
  }
  .plannerFooter {
    display: none;
  }
  .plannerInputContainer {
    width: 100%;
  }
  .planner-share-dialog {
    .MuiPaper-root {
      margin: 0;
    }
    .content-container {
      width: calc(90vw - 2 * var(--card-padding));
    }
  }
}
