.about-page {
  background-color: var(--background);
  height: 10%;
  grid-template-columns: none;
  .grid-auto-row {
    grid-auto-rows: min-content;
  }
}

.about-page-center {
  flex: 1;
	height: fit-content;
}
