.home-page {
    width: 100%;
    background-color: var(--background);
    height: 100%;
    overflow-y: scroll;
}

.home-page .center-page {
    padding: 20px 24px;
    background-color: var(--background);
}

.home-page-left {
    width: 300px;
    position: sticky;
    top: 20px;
    height: 0;
}

.home-page-right {
    flex: 1;
    margin-left: var(--card-padding);
    height: fit-content;
}

.home-page .user-menu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 50px;
    height: 50px;
    margin-bottom: var(--card-padding);
}

.user-menu-item {
    display: flex;
    height: 48px;
    padding: 0 var(--card-padding);
}

.user-menu-item svg {
    font-size: 16px;
}

.user-menu-item .caption {
    text-transform: capitalize !important;
    margin-left: 6px;
    font-size: 14px;
}

.user-menu .user-menu-item.active,
.user-menu .user-menu-item:hover {
    padding-top: 0;
}

.home-page-timetable {
    min-height: calc(100vh - 200px);
}

/* Links Card */

.links-card {
    padding: var(--card-padding);
}

.links-card .sub-title {
    margin-bottom: 6px;
}

.link-container {
    font-size: 14px;
    margin-top: 6px;
}

.link-container:hover {
    color: var(--primary);
}

.link-container svg {
    margin-right: 6px;
}


@media only screen and (max-width: 1260px) {
    .home-page .center-page {
        flex-direction: column;
        overflow-y: visible;
        overflow-x: hidden;
    }
    .home-page-left {
        position: relative;
        height: fit-content;
        width: 100%;
        top: 0;
    }
    .home-page .user-menu {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        flex-shrink: 0;
        width: 100%;
        overflow-x: scroll;
    }
    .home-page .user-menu-item {
    }
    .home-page-right {
        width: 100%;
        margin-top: var(--card-padding);
        margin-left: 0;
    }
    .home-page-timetable {
        width: 100%;
    }
}

