@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
body {
  --primary: #01579b;
  --accent: #ff7146;
  --surface: rgba(255, 255, 255, 1);
  --background: rgb(250, 249, 248, 1);
  --background-dark: rgba(5, 5, 5, 1);
  --background-secondary: rgb(250, 251, 252);
  --background-tertiary: rgb(246, 248, 250);
  --background-warm: rgb(243, 243, 244);
  --text: rgba(12, 12, 12, 1);
  --reversed-text: rgba(255, 255, 255, 1);
  --button: rgba(21, 121, 193, 1);
  --border: #dedede80;
  --border-light: #dedede2f;
  --underlay: #dddddd;
  --statusBar: rgba(21, 101, 192, 1);
  --bottomBar: rgba(255, 255, 255, 1);
  --header-height: 60px;
  --header-content-height: 40px;
  --header-color: rgba(31, 31, 31, 1);
  --header-text-color: white;
  --margin-horizontal: 40px;
  --border-radius: 8px;
  --grey-text: rgba(0, 0, 0, 0.5);
  --snackbar: rgba(31, 31, 31, 1);
  --caption: #494949;
  --caption-light: #494949bb;
  --highlight-on-surface: #dedede60;
  --scrollbar: rgb(204, 204, 204);
  --max-width: 1260px;
  --card-padding: 16px;
  --page-margin: 20px;
  --page-magrgin-top: 0;
  --page-content-height: calc(100vh - var(--header-height) - 2 * var(--card-padding));
  color: var(--text);
  background-color: var(--background);
  overflow-y: scroll;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* To standardize input and textarea */

input,
textarea {
  outline: none;
  appearance: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
textarea[type="number"] {
  -moz-appearance: textfield;
}

/* Common Styles */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  /* header - header padding - margin */
  flex: 1;
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr) min-content;
  grid-column-gap: var(--card-padding);
  min-height: 0;
  min-width: 0;
}

.center-page {
  max-width: var(--max-width);
  width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.panel {
  flex: 1;
  display: flex;
  padding: var(--card-padding);
}

.row,
.center-row {
  display: flex;
  flex-direction: row;
}

.center-row {
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.card,
.margin-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  background-color: var(--surface);
  border-radius: var(--border-radius);
}

.margin-card {
  margin: var(--card-padding);
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
}

.caption {
  color: var(--text);
  opacity: 0.9;
}

.light-caption {
  color: var(--text);
  opacity: 0.6;
  font-size: 12px;
}

.sub-heading {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 6px;
  text-transform: capitalize;
  border-bottom: 1px solid var(--border);
  margin-top: 16px;
  margin-bottom: 10px;
}

.transparent {
  background-color: transparent !important;
}

.icon {
  margin-right: 20px;
  cursor: pointer;
  background: rgb(250, 241, 223);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.char-icon {
  text-transform: uppercase;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.padding {
  padding: var(--page-margin);
}

.mt {
  margin-top: var(--card-padding);
}

.mb {
  margin-bottom: var(--card-padding);
}

.MuiDivider-root {
  background-color: var(--border) !important;
}

.center-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  cursor: not-allowed;
}

.hover {
  &:hover {
    color: var(--primary);
    cursor: pointer;
  }
}

.hover-bg {
  &:hover {
    background-color: var(--background-secondary);
    cursor: pointer;
  }
}

.grid-auto-row {
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: var(--card-padding);
}

.grid-auto-column {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: calc(var(--card-padding) / 2);
}

.capsule-btn.MuiButton-root {
  --capsule-font-color: var(--caption);
  &.selected {
    --capsule-font-color: var(--primary);
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
  }
  border-radius: 50px;
  padding: 4px 12px;
  .MuiButton-label {
    font-weight: bold;
  }
  .MuiButton-label,
  svg {
    color: var(--capsule-font-color);
  }
}

/* Scrollbar styles */

/* Mobile Styles */

@media only screen and (max-width: 1260px) {
  body {
    --page-margin-top: 3vh;
    --page-margin: 5vw;
  }
  .center-page {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .panel {
    overflow-y: initial !important;
  }
  .page {
    flex: 1;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: min-content 1fr;
    min-height: calc(100vh - var(--header-height) - 2 * var(--card-padding));
    padding: 0;
    margin: var(--card-padding) 0;
    // min-height: var(--page-content-height);
  }
  .card {
    border-radius: 0;
  }
}

/* Dark Mode Colors */

@media (prefers-color-scheme: dark) {
  body {
    --primary: #ff8a65;
    --accent: #ff8a65;
    --surface: rgba(31, 31, 31, 1);
    --background: rgba(5, 5, 5, 1);
    --text: rgba(255, 255, 255, 1);
    --reversed-text: rgba(12, 12, 12, 1);
    --button: rgba(92, 158, 235, 1);
    --border: #bdbcc24d;
    --underlay: #bdbcc233;
    --statusBar: rgba(5, 5, 5, 1);
    --bottomBar: rgba(31, 31, 31, 1);
    --caption: rgba(255, 255, 255, 0.5);
    --snackbar: rgba(255, 255, 255, 1);
    --highlight-on-surface: #dedede1f;
    --scrollbar: rgb(80, 80, 80);
    --background-secondary: #333;
    --background-warm: #333;
    --header-color: rgba(31, 31, 31, 1);
    --header-text-color: white;
  }
}
