body {
    --primary: #8565bd;
    --accent: rgba(249, 169, 83, 1);
    --surface: rgba(255,255,255,1);
    --background: rgb(250, 252, 255, 1);
    --background-dark: rgba(5,5,5,1);
    --text: rgba(12,12,12,1);
    --button: rgba(21, 121, 193, 1);
    --border: #dedede80;
    --underlay: #DDDDDD;
    --statusBar: rgba(21,101,192,1);
    --bottomBar: rgba(255,255,255,1);
    --caption: rgba(12,12,12, 0.5);
    --headerHeight: 40px;
    --marginHorizontal: 40px;
    --border-radius: 8px;
    --background-on-white: #dedede26;
    --grey-text: rgba(0, 0, 0, 0.5);
    --snackbar: rgba(31,31,31,1);
    background-color: var(--background);
    color: var(--text);
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

input, textarea {
    outline: none;
    appearance: none;
    border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
textarea[type=number] {
  -moz-appearance: textfield;
}


.App {
    text-align: center;
}

.row, .center-row {
    display: flex;
    flex-direction: row;
}

.center-row {
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px;
    background-color: var(--surface);
    border-radius: var(--border-radius);
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.caption {
    color: var(--text);
    opacity: 0.9;
}

.sub-heading {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 6px;
    text-transform: capitalize;
    border-bottom: 1px solid var(--border);
    margin-top: 16px;
    margin-bottom: 10px;
}

.transparent {
    background-color: transparent !important;
}

@media screen and (prefer-color-scheme: dark) {
    body {
        --primary: rgba(249, 169, 83, 1);
        --accent: rgba(249, 169, 83, 1);
        --surface: rgba(31,31,31,1);
        --background: rgba(5,5,5,1);
        --text: rgba(255,255,255,1);
        --button: rgba(92, 158, 235, 1);
        --border: #bdbcc24d;
        --underlay: #bdbcc233;
        --statusBar: rgba(5,5,5,1);
        --bottomBar: rgba(31,31,31,1);
        --caption: rgba(255,255,255,0.5);
    }
}
