.planner-page {
  min-height: calc(100vh - var(--header-height) - 2 * var(--page-margin));
  grid-template-columns: min-content 1fr min-content;
}

.planner-cart-column {
  width: 280px;
  grid-auto-rows: min-content;
  height: calc(100vh - var(--header-height) - 3 * var(--page-margin));
}

@media only screen and (max-width: 1260px) {
  .planner-page {
    display: flex;
    min-height: calc(100vh - var(--header-height) - 2px);
    height: fit-content;
    & > .search-panel {
      display: flex;
      width: 100vw;
      position: relative;
      top: auto;
      height: fit-content;
      overflow: visible;
    }
    .time-table-panel {
      width: 100vw;
    }
  }
  #planner-draggable-fab-container {
    position: fixed;
    z-index: 12;
    bottom: 5vh;
    right: 5vw;
    width: 48px;
    height: 48px;
  }
}