.feedCard {
  .list-item-caption {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 5px;
  }
  .list-item-title-container {
    margin: 0 16px;
  }
}
