.timetable-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  --left-bar-width: 42px;
  margin: 16px 0;
}
.weekday-row {
  display: flex;
  margin-left: var(--left-bar-width);
  margin-bottom: 10px;
  font-size: 14px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .weekday-text {
    color: var(--text);
    opacity: 1;
    .caption {
      opacity: 1;
      font-size: 11px;
      margin-top: 4px;
      opacity: 0.7;
    }
  }
}
.timetable-canvas {
  display: flex;
  flex: 1;
}
.timetable-ticks {
  display: flex;
  flex-direction: column;
  width: calc(var(--left-bar-width) - 10px);
  font-size: 12px;
  padding-right: 10px;
  text-align: right;
  opacity: 0.7;
  .time-line-box {
    flex: 1;
    line-height: 14px;
    margin-top: -7px;
  }
}
.timetable-courses-container {
  flex: 1;
  position: relative;
  display: flex;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

@media only screen and (max-width: 560px) {
  .timetable-container {
    --left-bar-width: 42px;
    width: 126vw;
  }
}
