.home-course-container {
  height: fit-content;
  overflow: visible;
  .home-course-list-item {
    height: auto;
    border-bottom: 1px solid var(--border);
    align-items: flex-start;
  }
  & > a {
    &:last-child {
      .home-course-list-item {
        border-bottom: none;
      }
    }
  }
}
.home-course-list-item {
  & > span {
    margin: 0 16px;
  }
}
