.searchDropdown {
  --searchDropdown-width: 370px;
  height: fit-content;
  flex-direction: column;
  margin: 10px 0;
  align-items: flex-end;
  .searchPanel {
    --searchPanel-width: calc(var(--searchDropdown-width) - 2px); // 2px for border
    border-radius: 0;
    border-top: 0;
    .searchInputContainer {
      display: none;
    }
    :global(.MuiDivider-root) {
      &:first-of-type {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .searchDropdown {
    --searchDropdown-width: 100vw;
    margin-left: auto;
    .searchPanel {
      display: initial;
      top: 0;
    }
  }
  .active {
    width: 100vw;
    overflow-x: hidden;
    height: fit-content;
    margin-left: initial;
    background-color: var(--surface);
  }
}
