.plannerCart {
  max-height: 100%;
  height: fit-content;
  padding-top: 8px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  header {
    padding: 0 var(--card-padding);
    & > div:first-child {
      height: 30px;
    }
    button {
      margin-left: auto;
      color: var(--text);
    }
  }
  :global(.list-item-container) {
    height: auto;
    justify-content: space-between;
    position: relative;
    --list-item-inner-padding: var(--card-padding);
    .plannerCartListIcon {
      margin-right: 8px;
      margin-left: 16px;
      font-size: 1.2rem;
      color: var(--error);
      &.warning {
        color: rgb(255, 196, 0);
      }
    }
    .plannerCartCheckbox {
      margin-left: 6px;
    }
    :global(.list-item-title-container) {
      margin-left: 6px;
    }
  }
}

.timetableInfoRow {
  margin: 10px 0 14px 0;
  span {
    flex: 1;
  }
  :global(.sub-title) {
    margin-bottom: 4px;
  }
}
