.timetableOverview {
  min-height: 48px;
  &:global(.MuiAccordion-root.Mui-expanded) {
    margin: 0;
  }
  :global(.MuiAccordionSummary-root) {
    position: sticky;
    top: 0;
    background-color: var(--surface);
    z-index: 2;
  }
  max-height: 620px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.ttOverviewListItem {
  cursor: initial;
  flex-direction: row;
  margin: 0;
  :global(.list-item-title-container) {
    margin-left: 0;
    :global(.caption) {
      display: flex;
      align-items: center;
      svg {
        margin-left: 4px;
        margin-right: 4px;
        font-size: 16px;
      }
    }
  }
  .btnContainer {
    svg {
      padding: 4px;
    }
  }
}

.menuIconContainer {
  margin-right: var(--card-padding);
  & :global(.MuiSvgIcon-root) {
    font-size: 18px;
  }
}
