.issueReportDialog {
  .report-issue-category {
    height: 42px;
    text-transform: capitalize;
    font-size: 14px;
    &:global(.caption) {
      color: var(--caption);
    }
  }
}

.category-menu {
  .MuiListItem-root {
    text-transform: capitalize;
  }
}
.dialogDescription.inputContainer {
  height: 36px;
  font-size: 14px;
}

.globalModalContainer {
  .MuiDialog-paper {
    min-width: 280px;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1260px) {
  .issueReportDialog {
    .issueChipsRow {
      flex-wrap: wrap;
    }
  }
}
