.issueReportDialog {
  .report-issue-category {
    height: 42px;
    text-transform: capitalize;
    font-size: 14px;
    &:global(.caption) {
      color: var(--caption);
    }
  }
}


:global(.list-item-container) {
  &.logOutRow {
    width: calc(100% - 24px);
    padding: 12px 0 12px 14px;
    height: 32px;
    :global(.title) {
      font-weight: normal;
      text-transform: capitalize;
      font-size: 16px;
    }
  }
}

.category-menu {
  :global(.MuiListItem-root) {
    text-transform: capitalize;
  }
}
.dialogDescription.inputContainer {
  height: 36px;
  font-size: 14px;
}

.globalModalContainer {
  :global(.MuiDialog-paper) {
    min-width: 280px;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1260px) {
  .issueReportDialog {
    .issueChipsRow {
      flex-wrap: wrap;
    }
  }
}
