.timetableSelectionMenu {
  --menu-padding-horizontal: 16px;
  --menu-padding-vertical: 6px;
  & :global(.MuiPaper-root) { // Menu contianer
    :global(.MuiSvgIcon-root) { // may not working for nested global?
      font-size: 22px;
    }
    :global(.MuiList-root) {
      padding: 0;
    }
    h4 {
      margin: 12px var(--menu-padding-horizontal);
      color: var(--accent);
    }
  }
  & .timetableLabelInputContainer {
    margin: 0 var(--menu-padding-horizontal) var(--menu-padding-vertical) var(--menu-padding-horizontal);
  }
  & :global(.MuiButtonBase-root):last-child {
    color: var(--accent);
    font-weight: bold;
  }
  & .timetableSelectItem :global(.MuiIconButton-root) {
    margin-left: auto;
  }
}

.timetablePanel {
  & > header {
    justify-content: space-between;
    :global(.title) {
      font-size: 18px;
    }
    .btnRow {
      & > button {
        margin-left: 24px;
        color: var(--text);
        :global(.MuiButton-label) {
          text-transform: capitalize;
        };
        :global(.MuiSvgIcon-root) {
          font-size: 22px;
        }
      }
    }
  }
}

.homePage-timetable {
  min-height: calc(100vh - 202px);
}

@media only screen and (max-width: 1260px) {
  .timetablePanel {
    padding: var(--card-padding);
    overflow-x: scroll;
    & > header {
      position: sticky;
      top: 0;
      left: 0;
    }
  }
}
