.timetablePanel {
  & > header {
    justify-content: space-between;
    :global(.title) {
      font-size: 18px;
    }
    .btnRow {
      & > button {
        margin-left: 24px;
        color: var(--text);
        :global(.MuiButton-label) {
          text-transform: capitalize;
        }
        :global(.MuiSvgIcon-root) {
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .timetablePanel {
    padding: var(--card-padding);
    overflow-x: scroll;
    & > header {
      position: sticky;
      top: 0;
      left: 0;
    }
  }
}
