.login-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  font-size: 16px;
  & > * {
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .title {
    margin-bottom: 20px;
  }
  .caption {
    opacity: 0.6;
  }
  .go-back-icon {
    color: var(--text);
    margin: 0 10px 0 -16px;
  }
  .label {
    font-size: 14px;
    cursor: pointer;
    margin-left: 12px;
    color: var(--primary);
    font-weight: bold;
  }
}
.qrcode-row {
  justify-content: space-between;
  canvas {
    padding: 2px;
    background-color: white;
  }
}
.check-box-row {
  margin-top: 4px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.check-box-container {
  flex-direction: row;
}
.login-btn {
  height: 40px;
  margin-top: 10px !important;
  border-radius: var(--border-radius) !important;
  background: linear-gradient(195deg, var(--primary) 2.3%, rgba(220, 86, 227, 1) 88.5%);
  box-shadow: none !important;
  & > .MuiButton-label {
    font-weight: bold;
    text-transform: capitalize;
  }
  .MuiCircularProgress-svg {
    color: white;
  }
}
.switch-container {
  margin-top: 26px;
  color: #00000066;
  font-size: 14px;
}
