.accordionCard {
  :global(.MuiAccordionSummary-root.Mui-expanded) {
    min-height: auto;
  }  
  :global(.MuiAccordionSummary-content.Mui-expanded) {
    margin: auto;
  }
  :global(.MuiAccordionDetails-root) {
    flex-direction: column;
  }
}