.landingLogo {
  color: var(--landing-page-logo-color);
  margin-right: auto;
  font-size: 26px;
  opacity: 1;
}

.landing-page {
  --landing-page-color: #7E696A;
  --landing-page-logo-color: #AF8F8F;
  --landing-page-bg-color: #EAD8D5;
  --landing-page-btn-color: #C08A81;
  /*
  --landing-page-color: #7E696A;
  --landing-page-logo-color: #AF8F8F;
  --landing-page-bg-color: #EAD8D5;
  --landing-page-btn-color: #C08A81;
  
  --landing-page-color: #86675B;
  --landing-page-logo-color: #BB8E7C;
  --landing-page-bg-color: #F0DACB;
  --landing-page-btn-color: #A48679;

  --landing-page-color: #5B6B86;
  --landing-page-logo-color: #7C94BB;
  --landing-page-bg-color: #CBD6F0;
  --landing-page-btn-color: #6D7E9C;
  */

  display: flex;
  background-color: var(--surface);
  width: 100vw;
  height: 100vh;
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    .loginPanel {
      .loginBtn {
        background: var(--landing-page-btn-color);
      }
    }
  }
  .left {
    display: flex;
    width: 35vw;
    max-width: 420px;
    background: var(--landing-page-bg-color);
    color: var(--landing-page-color);
    padding: 42px;
    > .landing-image-container {
      flex: 1;
    }
  }
}

.banner-box {
  margin-top: 120px;
}

.banner-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 0;
}

.banner-text {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 34px;
  font-weight: bold;
}

.banner-image {
  margin-top: 40px;
  width: 100%;
}

.landing-page .right {
  flex: 1;
}


@media (prefers-color-scheme: dark) {
  .landing-page {
    --landing-page-color: #5B6B86;
    --landing-page-logo-color: #7C94BB;
    --landing-page-bg-color: #CBD6F0;
    --landing-page-btn-color: #6D7E9C;
  }
}


@media only screen and (max-width: 1260px) {
  .landing-page {
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    .left {
      height: calc(100vh - 2 * var(--card-padding));
      width: calc(100vw - 2 * var(--card-padding));
      padding: var(--card-padding);
    }
  }
  .landingLogo {
    margin-right: auto;
    margin-left: 5%;
    margin-bottom: 30px;
  }
  .banner-box {
    flex: 1;
  }

  .landing-page .right {
    background-color: var(--background);
    height: 100vh;

    > .loginPanel {
      width: 90%;
    }
  }

  .landing-next-icon {
    cursor: pointer;
    font-size: 46px;
    transition: all .2s ease-in-out;
    margin-top: 24px;
  }
}