.plannerPage {
  min-height: calc(100vh - var(--header-height) - 2 * var(--page-margin));
  grid-template-columns: min-content 1fr min-content;
}

.plannerCartColumn {
  width: 280px;
  height: calc(100vh - var(--header-height) - 3 * var(--page-margin));
  grid-template-rows: min-content minmax(0, 1fr);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 1260px) {
  .plannerCartColumn {
    height: auto;
  }
  .plannerPage {
    display: flex;
    min-height: calc(100vh - var(--header-height) - 2px);
    height: fit-content;
    width: 100vw;
    .plannerCartColumn {
      width: 100%;
      display: grid;
    }
  }
  .plannerDraggableFabContainer:global(.MuiButtonBase-root) {
    position: fixed;
    z-index: 12;
    bottom: 5vh;
    right: 5vw;
    width: 48px;
    height: 48px;
    svg {
      font-size: 22px;
    }
  }
}