.planner-cart {
  width: 260px;
  height: fit-content;
  max-height: calc(100vh - var(--header-height) - 3 * var(--page-margin));
  padding-top: var(--card-padding);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  header {
    padding: 0 var(--card-padding) 6px var(--card-padding);
    .title {
      font-size: 16px;
      font-weight: normal;
    }
    button {
      margin-left: auto;
      color: var(--text);
    }
  }
  .list-item-container {
    --list-item-inner-padding: var(--card-padding);
    &:last-of-type {
      border-bottom: 0;
    }
    .planner-cart-list-icon {
      margin-right: 8px;
      margin-left: 16px;
      font-size: 1.2rem;
      color: var(--error);
    }
    .planner-cart-checkbox {
      margin-left: 6px;
    }
    .list-item-title-container {
      margin-left: 6px;
    }
  }
}