.planner-cart {
  width: 260px;
  height: fit-content;
  max-height: calc(100vh - var(--header-height) - 3 * var(--page-margin));
  padding-top: var(--card-padding);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  header {
    padding: 0 var(--card-padding);
    & > div:first-child {
      height: 30px;
    }
    .title {
      font-size: 16px;
      font-weight: 500;
    }
    button {
      margin-left: auto;
      color: var(--text);
    }
  }
  .list-item-container {
    height: auto;
    justify-content: space-between;
    position: relative;
    --list-item-inner-padding: var(--card-padding);
    .planner-cart-list-icon {
      margin-right: 8px;
      margin-left: 16px;
      font-size: 1.2rem;
      color: var(--error);
    }
    .planner-cart-checkbox {
      margin-left: 6px;
    }
    .list-item-title-container {
      margin-left: 6px;
    }
  }
}

.timetable-info-row {
  margin: 10px 0 14px 0;
  span {
    flex: 1;
  }
  .sub-title {
    margin-bottom: 4px;
  }
}
