.planner-share-dialog {
  .content-container {
    width: 40vw;
    max-width: 380px;
    height: auto;
    padding: var(--card-padding);
  }
  .dialog-caption {
    margin-top: -12px;
    font-size: 12px;
    color: var(--caption);
  }
  .share-btn-row {
    width: 100%;
    justify-content: center;
    .share, .copy {
      background-color: var(--text);
      color: var(--reversed-text);
    }
    .share {
      padding: auto 12px;
      width: 100%;
      margin-top: 2px;
      height: 40px;
    }
  }
  .share-link-row {
    height: 46px;
    .copy {
      height: 100%;
      margin-left: 6px;
      width: 72px;
    }
    .input-container {
      flex: 1;
    }
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  .label {
    font-weight: 500;
    color: var(--text);
    font-size: 14px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 1260px) {
  .planner-share-dialog {
    .MuiPaper-root {
      margin: 0;
    }
    .content-container {
      width: calc(90vw - 2 * var(--card-padding));
    }
    .input-container {
      width: 100%;
    }
  }
}
