.course-card {
  position: relative;
  overflow: hidden;
  .course-title {
    margin-top: -2px;
  }
  &.retracted {
    max-height: 580px;
  }
  .grade-row {
    height: 46px;
    min-width: 550px;
    margin-top: auto;
    margin-bottom: auto;
    &.concise {
      min-width: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .caption {
    margin: 0;
    overflow-wrap: anywhere;
    line-height: var(--line-height-caption);
  }
  &.concise {
    padding: var(--card-padding);
    overflow: initial;
    & > .course-card-header {
      align-items: center;
      .course-card-title-container {
        width: 100%;
      }
      & .badge {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
  .link-container {
    font-size: initial;
    width: fit-content;
  }
}
.requirement-section {
  width: 100%;
}
.sub-heading-container {
  width: 100%;
  .past-papers-container {
    display: flex;
    align-items: center;
    .open-icon {
      width: 20px;
      height: 20px;
    }
    .past-papers-link {
      margin-left: 4px;
    }
  }
}
.course-card-header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  &.left {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 40px;
    height: 40px;
    color: var(--text);
  }
  .active {
    color: var(--primary);
  }
  .title {
    margin: 0 6px 0 0;
  }
}

.reviews-link-heading {
  cursor: pointer;
  svg {
    margin-left: 6px;
  }
}

@media only screen and (max-width: 1260px) {
  .course-card {
    .grade-row {
      overflow: initial;
    }
  }
}
