.course-panel-container {
  height: fit-content;
  position: relative;
}

.course-panel {
  position: relative;
  p {
    line-height: var(--line-height);
  }
}

.review-count {
  font-size: 14px;
  font-weight: 500;
  margin-left: 2px;
  .MuiDivider-root {
    flex: 1;
    margin-left: var(--card-padding);
  }
  .caption {
    color: var(--caption);
    font-size: 12px;
    margin-left: 6px;
  }
}

.reviews-filter {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  svg {
    color: var(--text);
  }
  flex-direction: row;
  .filter-row {
    .reviews-filter-label {
      margin: 0;
      font-weight: 500;
    }
  }
  &.float {
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: inherit;
    box-shadow: 0 4px 10px rgba(46, 43, 43, 0.1);
  }
  button {
    &.edit {
      font-size: 18px;
      width: 32px;
      height: 32px;
    }
  }
}
.reviews-filter-menu {
}
.reviews-filter-ratings {
  align-items: center;
}
.reviews-filter-label {
  text-transform: capitalize;
  margin: 0 10px;
  font-size: 14px;
  color: var(--text);
}
.grade-indicator {
  &.reviews-filter-grade-indicator {
    border-radius: 8px;
    height: auto;
    width: auto;
    padding: 2px 6px;
    min-width: 28px;
    font-size: 14px;
  }
}

.course-error-card {
  display: flex;
  flex-direction: column;
}

.vertical-divider {
  width: 1px;
  height: 16px;
  background-color: #3b3b3b80;
}
.course-panel-fab {
  position: fixed;
  right: calc((100vw - var(--max-width)) / 2 + 32px);
  bottom: 20px;
}

.grade-row.standalone {
  width: var(--second-column-width);
  height: 120px;
  background-color: var(--surface);
}

.course-suggestion {
  .list-item-caption {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 5px;
  }
  .list-item-title-container {
    margin: 0 16px;
  }
}

@media only screen and (max-width: 1260px) {
  .course-panel {
    max-height: none;
  }
  .course-panel-fab {
    right: 20px;
  }
  .reviews-filter {
    padding: 12px var(--card-padding);
  }
  .filter-row {
    button {
      .MuiButton-endIcon {
        margin-left: 0;
      }
    }
  }
  .review-count {
    margin: 0 6px;
  }  
}
