.course-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  &.retracted {
    max-height: 580px;
  }
  .grade-row {
    margin: 10px 0;
  }
  .caption {
    margin: 0;
  }
  &.concise {
    padding: var(--card-padding);
    & > .course-card-title-container {
      align-items: center;
      & > .badge {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    .grade-row {
      &.concise {
        margin-top: 20px;
        margin-bottom: 0;
      }
    }
  }
  .link-container {
    font-size: initial;
    width: fit-content;
  }
}
.sub-heading-container {
  width: 100%;
  .past-papers-container {
    display: flex;
    align-items: center;
    .open-icon {
      width: 20px;
      height: 20px;
    }
    .past-papers-link {
      margin-left: 4px;
    }
  }
}
.course-card p,
.caption,
.sub-heading {
  text-align: left;
}
.course-card-title-container {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 4px;
  &.left {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 40px;
    height: 40px;
    color: var(--text);
  }
  .active {
    color: var(--primary);
  }
  .title {
    margin: 0 6px 0 0;
  }
}
.course-badge-row {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--card-padding);
}
.caption {
  &.description {
    margin-top: 6px;
  }
}

@media only screen and (max-width: 1260px) {
  .course-card {
    .grade-row {
      overflow: initial;
    }
  }
}
