.course-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.course-card.retracted {
    max-height: 580px;
}

.course-card .grade-row {
    margin: 10px 0;
}

.sub-heading-container {
    width: 100%;
}

.course-card p, .caption, .sub-heading {
    text-align: left;
}

.course-card-title-container {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    margin-top: -10px;
}

.course-card-title-container.left {
    display: flex;
    flex-direction: column;
}

.course-card-title-container button {
    width: 40px;
    height: 40px;
    color: var(--text);
}

.course-card-title-container .active {
    color: var(--primary);
}

.course-card .caption {
    margin: 0;
}

.course-card-title-container .title {
    margin: 0 6px 0 0;
}

.course-badge-row {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--card-padding);
}

.caption.description {
    margin-top: 6px;
}

.course-card.concise {
    padding: var(--card-padding);
}
.course-card.concise > .course-card-title-container {
    align-items: center;
}
.course-card.concise > .course-card-title-container > .badge {
    margin-right: 0;
    margin-bottom: 0;
}


.course-card.concise .grade-row.concise {
    margin-top: 20px;
    margin-bottom: 0;
}
