.course-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 24px 20px 24px;
    overflow-y: scroll;
}

.course-summary {
    display: flex;
    margin-top: 20px;
    background-color: var(--background-on-white);
    padding: 12px 8px;
    align-items: center;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-summary-ratings {
    align-items: center;
}

.course-summary svg {
    color: var(--CAPTION);
}

.course-summary-label {
    text-transform: capitalize;
    margin: 0 10px;
    font-size: 14px;
    color: var(--CAPTION);
}

.grade-indicator.course-summary-grade-indicator {
    border-radius: 8px;
    height: auto;
    width: auto;
    padding: 2px 6px;
    min-width: 28px;
    font-size: 14px;
}

.vertical-divider {
    width: 1px;
    height: 16px;
    background-color: #3b3b3b80;
}

.course-panel-fab {
    position: fixed;
    right: calc(var(--marginHorizontal) + 40px);
    bottom: calc(40px);
}
