.course-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course-card p, .caption, .sub-heading {
    text-align: left;
}

.course-card-title-container.left {
    display: flex;
    flex-direction: column;
}

.course-card-title-container button {
    width: 40px;
    height: 40px;
}

.course-card-title-container .active {
    color: var(--primary);
}

.course-card .caption {
    margin: 0;
}

.course-card-title-container {
    display: flex;
    flex: 1;
    margin-top: 6px;
    width: 100%;
    justify-content: space-between;
}

.course-card-title-container .title {
    margin: 0 6px 0 0;
}

.course-badge-row {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 14px;
}

.caption.description {
    margin-top: 6px;
}

.course-card.concise {
    padding: 0px 16px;
}
.course-card.concise > .course-card-title-container {
    align-items: center;
}
.course-card.concise > .course-card-title-container > .badge {
    margin-right: 0;
    margin-bottom: 0;
}
