.grade-row {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--background-on-white);
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 1fr); */
}

.grade-row > div:first-child {
    height: 33px;
}

.grade-row svg {
    color: #3b3b3bbf;
}

.grade-row > div:first-child > div {
    margin: 6px;
}

.grade-indicator.course-summary-grade-indicator.overall {
    margin: -10px 6px -10px 0px !important;
    height: 50px;
    border-radius: 0;
}

.rating-container {
    cursor: pointer;
    padding: 0 10px;
    height: 30px;
}

.rating-container > .course-summary-label {
    margin: 0 10px 0 0;
}

.grade-row.review-header > div > .rating-container {
    height: 38px;
}

.grade-row.review-header .rating-container.active {
    border-bottom: 2px solid #f9826c;
    /*
    position: relative;
    background-color: var(--background-on-white);
    border-radius: var(--border-radius); */
    /* 
    background-color: #683ab71f;
    border-radius: var(--border-radius);
    margin: 20px 0;
    */
}


.grade-row.concise {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.grade-row.concise > .center-row {
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start
}

.grade-row.concise > .center-row > * {
    flex: 1;
    justify-content: space-between;
}
.grade-row.concise > .center-row > :first-child {
    display: none;
}
