.review-home-panel {
    flex-direction: column;
}

.review-home-row {
    align-items: flex-start;
}

.ranking-card > * {
    border-bottom: 1px solid var(--border);
}

.ranking-card-header {
    padding: 0 var(--card-padding);
    height: 44px;
    color: var(--primary);
    background-color: var(--background-secondary);
}

.ranking-card-header > :first-child {
    margin-right: 10px;
}

.ranking-card-header-title {
    font-size: 16px;
    font-weight: 500;
}

.ranking-card {
    flex: 1;
    margin-left: 20px;
    overflow: hidden;
    border-bottom: 0;
}

.ranking-card:first-child {
    margin-left: 0;
}

.ranking-label {
    margin: 0 14px;
    opacity: 0.5;
}

.ranking-card .list-item-container {
    height: auto;
    border-bottom: none;
    border-right: none;
}

.ranking-card .list-item-container:last-of-type{
}

.ranking-card .list-item-container > :last-child {
    margin-right: 8px;
    margin-bottom: 0;
}

.ranking-card .grade-indicator {
    width: 57px;
    height: 25px;
}

.ranking-card .search-list-item {
    padding: 10px 0;
}

.review-home-row .sort-selector {
    margin-left: auto;
    text-transform: capitalize;
    font-size: 16px;
    color: var(--primary);
}


.sort-menu {
    text-transform: capitalize;
}

@media only screen and (max-width: 1260px) {
    .review-home-row {
        flex-direction: column;
    }
    .ranking-card:last-child {
        margin-left: 0;
        margin-top: var(--card-padding);
    }
    .ranking-card {
        width: 100%;
    }
}

