.review-home-panel {
    padding: 10px 24px 20px 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ranking-card > * {
    border-bottom: 1px solid var(--border);
}

.ranking-card-header {
    padding: 16px 16px;
    color: var(--primary);
}

.ranking-card-header > :first-child {
    margin-right: 10px;
}

.ranking-card-header-title {
    font-size: 18px;
    font-weight: 500;
}

.ranking-card {
    flex: 1;
    margin-left: 30px;
    overflow: hidden;
    border-bottom: 0;
}

.ranking-card:first-child {
    margin-left: 0;
}

.ranking-label {
    margin: 0 14px;
    opacity: 0.5;
}

.ranking-card .list-item-container {
    height: auto;
    border-bottom: none;
    border-right: none;
}

.ranking-card .list-item-container:last-of-type{
}

.ranking-card .list-item-container > :last-child {
    margin-right: 8px;
    margin-bottom: 0;
}

.ranking-card .search-list-item {
    padding: 10px 0;
}

.sort-selector {
    margin-left: auto;
    text-transform: capitalize;
    font-size: 16px;
}

.sort-selector > button {
    color: var(--primary);
    margin-right: 6px;
}

.sort-menu {
    text-transform: capitalize;
}
