.review-card {
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    margin-top: 24px;
    padding: 0;
}

.review-card .course-summary {
    background-color: transparent;
}

.review-title {
    display: flex;
    width: 100%;
    padding: 12px 8px;
    text-align: start;
}

.review-title svg {
    margin-right: 6px;
}

.course-summary.review {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.grade-row.review-header {
    margin-top: 0;
    background-color: transparent;
    border-radius: 0;
}

.grade-row.review-header .center-row {
    height: auto;
}

.grade-row.review-header > div:first-child > div {
    margin: 0;
}

.grade-row.review-header .like-btn-row {
    margin-left: auto;
}

.review-text {
    text-align: start;
    font-size: 14px;
}

.review-info-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 8px;
    /* border-bottom: 1px solid var(--border); */
    width: 100%;
}

.review-info-row > :nth-child(2) {
    width: 160px;
    margin-left: 16px;
}

.review-text {
    margin: 0;
    padding: 4px 8px 12px 8px;
}

.course-summary-label.author {
    margin-left: auto;
    text-transform: none;
}

.course-summary-label.author > span {
    color: var(--text);
    cursor: pointer;
}

.grade-row.review-header .share-icon-btn {
    color: var(--text);
    opacity: 0.8;
    margin-right: 12px;
    padding: 8px;
}

.review-text-full {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6px 0;
}

.review-text-label {
    text-align: start;
    text-transform: capitalize;
    color: var(--primary);
    padding: 8px 8px;
    font-weight: bold;
}
