.review-edit {
  --review-row-gap: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  margin: var(--card-padding) 0;
  padding: var(--card-padding) 10px;
  position: relative;
  row-gap: var(--review-row-gap);
  .input-container {
    width: calc(100% - 36px);
  }
  textarea {
    &.input-container {
      min-height: 100px;
    }
  }
  .header-search-result {
    position: absolute;
    margin-top: 70px;
  }
}

.review-header-container {
  width: 100%;
  align-items: center;

  .title {
    width: fit-content;
  }

  .light-caption {
    margin-left: 10px;
  }

  .anonymous-switch {
    margin-left: auto;
    color: var(--text);
  }
}

.form-section-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.8;
}

.term-selection-anchor {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.review-section-header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.review-section-title {
  cursor: pointer;
  svg {
    font-size: 16px;
    margin-left: 6px;
  }
}

.selection-group {
  background-color: var(--background-secondary);
  border-radius: 4px;
  margin-right: 4px;
  overflow: hidden;
}

.selecion-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  width: 26px;
  opacity: 0.4;
  &.selected {
    color: white;
    font-weight: 500;
    opacity: 1;
  }
}

.review-sections-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--card-padding);
  width: 100%;
}

.review-section-container {
  row-gap: 8px;
}

.submit-btn-row {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;

  .review-section-container {
    width: calc(50% - 10px);
  }

  .review-section-header {
    margin-top: 0;
  }

  .submit-btn {
    width: 240px;
    height: 42px;
    background-color: var(--default-button-background);
    color: white;
    position: relative;
    overflow: hidden;
    .MuiButton-label {
      position: relative;
    }
    &:hover {
      background-color: var(--default-button-background);
    }
  }
}

.progress {
  position: absolute;
  height: 4px;
  background-color: var(--accent);
  left: -16px; // MuiLabel padding
  bottom: -10px; // MuiLabel padding
  transition: width 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.review-edit {
  .header-search-result {
    width: calc(100% - 13px * 2);
    top: 292px;
    border-top: 0;
    > .list-item-container {
      width: 100%;
    }
  }

  .search-list-item .title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1260px) {
  .review-sections-container {
    grid-template-columns: none;
  }
  .submit-btn-row {
    flex-direction: column;
    > {
      .review-section-container {
        width: 100%;
        margin-bottom: var(--card-padding);
      }
      .submit-btn {
        width: 100%;
      }
    }
  }
  .review-edit .header-search-result {
    margin-left: 11px;
  }
}
