.review-card {
  border-radius: var(--border-radius);
  margin-top: 24px;
  padding: 0;
  --review-card-inner-padding-horizontal: 18px;
  --review-card-inner-padding-vertical: 12px;
  position: relative;
  overflow: hidden;
  svg {
    color: var(--caption);
  }
}
.review-title {
  display: flex;
  padding: var(--review-card-inner-padding-vertical) var(--review-card-inner-padding-horizontal);
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  color: var(--caption);
  svg {
    font-size: 18px;
    margin-right: 6px;
  }
}
.review-title-author {
  color: var(--caption);
  font-weight: normal;
  font-size: 14px;
}

.reviews-filter {
  &.review {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: var(--background-secondary);
  }
}
.grade-row {
  &.review-grade-row {
    background-color: transparent;
    border-radius: 0;
    .rating-container {
      height: 48px;
      padding: 0 10px;
      &:hover {
        padding-top: 0;
      }
    }
  }
}
.review-text {
  text-align: start;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0 var(--review-card-inner-padding-horizontal) var(--review-card-inner-padding-vertical)
    var(--review-card-inner-padding-horizontal);
}
.review-info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--review-card-inner-padding-vertical) var(--review-card-inner-padding-horizontal);
  width: 100%;
  .reviews-filter-label {
    margin: 0;
  }
  .term {
    font-weight: 500;
    font-size: 15px;
    color: var(--primary);
    margin-left: 10px;
    margin-right: 6px;
  }
  .separator {
    margin-right: 6px;
  }
  .lecturer {
    font-weight: 600;
    font-size: 15px;
    color: var(--primary);
  }
  &.no-title {
    margin-top: 8px;
  }
  & > :nth-child(2) {
    flex: 1;
    margin-left: 16px;
  }
}
.reviews-filter-label {
  &.author {
    text-transform: none;
    margin: 0;
    & > span {
      color: var(--text);
      cursor: pointer;
    }
  }
}
.review-text-full {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  &.retracted {
    overflow: hidden;
    max-height: 360px;
    .show-more-overlay {
      padding-bottom: 10px;
      svg {
        color: var(--primary);
      }
    }
  }
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.review-text-label {
  text-align: start;
  text-transform: capitalize;
  color: var(--primary);
  padding: var(--review-card-inner-padding-vertical) var(--review-card-inner-padding-horizontal);
  font-weight: bold;
}
.review-bottom-row {
  padding: 8px var(--review-card-inner-padding-horizontal);
  border-top: 1px solid var(--border);
  &.retracted {
    margin-top: 0;
  }
  .like-btn-row {
    margin-left: auto;
  }
  .share-icon-btn {
    color: var(--text);
    opacity: 0.8;
  }
}
.review-bottom-btn-row {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: var(--card-padding);
}
@media only screen and (max-width: 1260px) {
  .reviews-filter-label {
    &.author {
      font-size: 12px;
    }
  }
  .review-text-full {
    grid-template-columns: repeat(1, 1fr);
  }
  .review-bottom-row {
    .like-btn-row {
      margin-left: 6px;
      .like-btn {
        padding: 0;
      }
    }
  }
  .review-card {
    .tab {
      &:hover {
        padding-top: none;
        border-bottom: none;
      }
    }
  }
  .grade-row.review-grade-row {
    & > div:first-child {
      display: none;
    }
    .rating-container {
      flex-direction: column;
      height: 62px;
      justify-content: center;
      flex: 1;
    }
    .rating-container {
      > .reviews-filter-label {
        margin-bottom: 10px;
      }
      &.active {
        border: none;
      }
    }
  }
}
