.search-panel {
    width: 380px;
    border-right: 1px solid var(--border);
    position: sticky;
    top: 0px;
    left: 0;
    height: auto;
    align-self: flex-start;
    min-height: calc(100vh - var(--headerHeight) - 20px);
}

.search-panel > div {
    background-color: var(--surface);
}

.search-input-container {
    align-items: center;
    padding: 6px 16px;
}

.search-input-container > .go-back-btn {
    margin-left: -4px;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.search-icon {
    margin-right: 20px;
}

.search-icon > svg {
    opacity: 0.54;
}

.search-form {
    display: flex;
    flex: 1;
}

.search-input {
    flex: 1;
}

.chips-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px 10px 10px;
}

.chips-row > div {
    margin-left: 6px;
}

.chips-row > div:first-child {
    margin-left: 0;
}

.chips-row > div > .MuiChip-label {
    padding-left: 10px;
    padding-right: 10px;
}

.schools-container {
}

.course-codes-container {
    text-align: left;
}

.course-codes-container > * {
    padding: 0 16px;
}

.course-codes-title {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 18;
    background-color: #DDDDDD;
}

.code-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
}

.search-panel > .list-item-container  {
    height: auto;
    justify-content: space-between;
    position: relative;
}

.search-panel > .list-item-container .list-item-color-bar {
    position: absolute;
}

.search-list-item {
    align-items: flex-start;
    flex: 1;
    padding: 12px 22px;
}

.search-list-item .title {
    font-size: 16px;
}

.search-list-item .caption {
    margin-top: 8px;
    font-size: 14px;
    opacity: 0.8;
}
