.plannerCart {
  width: 280px;
  height: fit-content;
  max-height: calc(100vh - var(--header-height) - 2 * var(--page-margin));
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  header {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 8px var(--card-padding) 0 var(--card-padding);
    position: sticky;
    top: 0;
    background-color: var(--surface);
    z-index: 1;
    & > div:first-child {
      height: 30px;
    }
    button {
      margin-left: auto;
      color: var(--text);
    }
  }
  :global(.list-item-container) {
    height: fit-content;
    justify-content: space-between;
    position: relative;
    --list-item-inner-padding: var(--card-padding);
    .plannerCartListIcon {
      margin-right: 8px;
      margin-left: 16px;
      font-size: 1.2rem;
      color: var(--error);
      &.alert {
        color: rgb(255, 196, 0);
      }
    }
    .plannerCartCheckbox {
      margin-left: 6px;
    }
    :global(.list-item-title-container) {
      margin-left: 6px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.timetableInfoRow {
  margin: 10px 0 14px 0;
  span {
    flex: 1;
  }
  :global(.sub-title) {
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 1260px) {
  .plannerCart {
    height: auto;
    width: 100%;
  }
}
