.user-card {
    height: fit-content;
}

.user-card-header {
    padding: var(--home-page-card-padding);
}

.user-card-header .char-icon {
    background-color: var(--primary);
}

.user-card-header .title {
    font-size: 16px;
    margin-bottom: auto;
}

.user-card-header .title span {
    margin-left: 8px;
    cursor: pointer;
}

.user-card-header .caption {
    font-size: 12px;
}

.user-card-header-details {
    height: 36px;
    margin-left: 8px;
}

.user-card-header button {
    margin-left: auto;
    color: var(--text);
}

.user-card-header button svg {
    font-size: 20px;
}

.user-card .user-card-divider {
    margin: 0 var(--home-page-card-padding);
}

/* Settings Modal */

.settings-modal-container .settings-modal {
    width: 280px;
    overflow-x: hidden;
}

.toggle-row span {
    margin-left: auto;
}

.list-item-container.log-out-row {
    width: calc(100% - 24px);
    padding: 12px 0 12px 24px;
    height: 32px;
}

/* About card */

.user-about-card {
    margin-top: var(--home-page-card-padding);
    padding: var(--home-page-card-padding);
    padding-top: 0;
    flex-direction: row;
}

.user-about-card > div {
    flex: 1;
}

.user-about-card > div .sub-title {
    margin-bottom: 6px;
}
