.badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.badge-text {
    text-transform: capitalize;
    padding: 6px;
}
.badge-text-value {
    padding: 0 4px;
    border-color: 'white';
    border-left: 1px solid white;
    color: white;
}
