.grade-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    font-weight: 800;
    text-shadow: #fff 0px 0px 10px;
}
