.header-background-container {
  background-color: var(--headerColor);
  position: sticky;
  top: 0;
  z-index: 10;
  max-height: calc(var(--headerHeight) + 20px);
}
.header-container {
  height: var(--headerHeight);
  min-height: var(--headerHeight);
  padding: 10px 20px;
  justify-content: space-between;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  & > .header-logo {
    display: flex;
    align-items: center;
    color: var(--reversed-text);
    opacity: 1;
  }
  .search-input-container {
    border: 1px solid #444d56;
    border-radius: 6px;
    margin-right: 12px;
    input {
      width: 200px;
      transition: width 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
      &:focus {
        width: 330px;
      }
    }
    & > .search-input-divider {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
.header-container button,
.header-container .logo-container,
.header-container .nav-label,
.header-container .search-input-container > button,
.header-container .search-input-container > .search-input {
  color: var(--headerTextColor);
}
.header-search-result {
  position: absolute;
  margin-top: calc(var(--headerHeight) + 10px);
  height: fit-content;
  z-index: 10;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  & > .list-item-container {
    width: 380px;
    height: auto;
  }
}
.header-nav {
  margin-left: auto;
}
.nav-label-container,
.nav-label-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}
.nav-label-container-active {
  opacity: 1;
}
.nav-label-container {
  &:hover {
    opacity: 0.6;
  }
}
.nav-label {
  text-transform: capitalize;
}

@media only screen and (max-width: 1260px) {
  .header-container {
    overflow: hidden;
    & > .header-logo {
      margin-left: 12px;
    }
    .search-input-container {
      border: none;
      margin-right: 0;
      input {
        width: 0;
        &:focus {
          width: 330px;
        }
      }
    }
    .search-input {
      margin-left: 0;
    }
  }
  .header-search-result {
    width: 100vw;
    left: 0;
    & > .list-item-container {
      width: 100vw;
    }
  }
}
