.header-container {
    height: var(--headerHeight);
    min-height: var(--headerHeight);
    padding: 10px 20px;
    justify-content: space-between;
    background-color: rgb(32, 38, 44);
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px; */
}

.header-container > .header-logo {
    display: flex;
    align-items: center;
    color: var(--reversed-text);
    opacity: 1;
    margin-left: 16px;
}

.header-container .search-input-container {
    border: 1px solid #444d56;
    border-radius: 6px;
    margin-right: 12px;
}

.header-container .search-input-container input {
    width: 200px;
    transition: width 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.header-container .search-input-container input:focus {
    width: 330px;
}

.header-container .search-input-container > button,
.header-container .search-input-container > .search-input {
    color: white;
}

.header-container .search-input-container > .search-input-divider {
    background-color: rgba(255, 255, 255, 0.3);
}

.header-search-result {
    position: fixed;
    margin-top: calc(var(--headerHeight) + 10px);
    height: fit-content;
    z-index: 10;
    border-bottom: none;
    border-right: none;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.header-search-result > .list-item-container {
    width: 380px;
    height: auto;
}

.header-nav {
    margin-left: auto;
}

.header-nav > :last-child {
    margin-right: 40px;
}

.nav-label-container, .nav-label-container-active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    color: var(--reversed-text);
}

.nav-label-container-active {
    opacity: 1;
}

.nav-label-container:hover {
    opacity: 0.6;
}

.nav-label-container-active {

}

.nav-label {
    text-transform: capitalize;
}

@media only screen and (max-width: 1260px) {
    .header-container {
        width: calc(100vw - 50px);
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

