.loading-view {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.loading-view.absolute {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}
