.time-table-panel > header {
    justify-content: space-between;
}

.time-table-panel > header .title {
    font-size: 18px;
}

.time-table-panel > header .btn-row > button {
    margin-left: 24px;
}

.time-table-panel > header .btn-row > button > .MuiButton-label {
    text-transform: capitalize;
    font-weight: bold;
    opacity: 0.5;
}


@media only screen and (max-width: 1260px) {
    .time-table-panel {
        padding: var(--card-padding);
    }
    .btn-row  {
        display: none;
    }
}

