.aboutCard {
  padding: var(--card-padding);
  p {
    margin-top: 0;
    margin-bottom: var(--card-padding);
    line-height: var(--line-height);
    opacity: 0.9;
  }
}

.aboutHeader {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: var(--card-padding);
}

.aboutTitle {
  border-bottom: 0;
  font-size: 20px;
}
