.logo-container {
  display: flex;
  align-items: center;
  font-family: Futura, sans-serif;
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  .logo-beta {
    font-size: 14px;
    color: white;
    border-radius: 12px;
    padding: 2px 12px;
    background-color: rgb(255, 125, 116);
    margin-left: var(--card-padding);
    font-weight: 600;
    letter-spacing: 1px;
  }
}
