.logo-container {
  display: flex;
  align-items: center;
  font-family: "Pacifico", cursive;
  font-size: 22px;
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--text);
  .logo-beta {
    font-size: 11px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  &.shine {
    font-size: 30px;
    animation: shine 2s infinite;
    opacity:0.8;
    &:after {
      margin-left: 4px;
      content: '';
      animation: dots 2s infinite;
    }
  }
}

@keyframes shine {
  0%   { opacity:0.8; }
  50%  { opacity:0.6; }
  100% { opacity:0.8; }
}

@keyframes dots {
  25%  { content: ''; }
  50%  { content: '.'; }
  75%  { content: '..'; }
  100% { content: '...'; }
}