.chips-row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  & > div {
    margin-left: 8px;
    text-transform: capitalize;
    &:first-child {
      margin-left: 0;
    }
    & > .MuiChip-label {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
