.null-card-container {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.null-card-photo {
  height:35%;
  width: 35%;
  margin: auto;
}

.null-card-word {
  color: #3d3d3d;
  padding-top: 4%;
  font-family: Sans-serif;
}
