.list-item-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &.border {
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }
  --list-item-inner-padding: 12px;
}
.list-item-color-bar {
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  height: calc(100% + 1px);
}
.chevron {
  font-size: 16;
  flex: 0;
  margin-right: var(--list-item-inner-padding);
}
.list-item-title-container {
  flex: 1;
  display: flex;
  margin: 0 var(--list-item-inner-padding);
  padding: var(--list-item-inner-padding) 0;
  .title {
    font-size: 14px;
  }
  .caption {
    margin-top: 8px;
    font-size: 14px;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 1260px) {
  .list-item-container {
    border-right: 0;
    border-left: 0;
  }
}