.tabs-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	border-bottom: 1px solid var(--border);
	overflow: hidden;
}
.tab {
	display: flex;
	height: 48px;
	padding: 0 var(--card-padding);
	cursor: pointer;
	padding-top: 0;
	transition: width 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
	svg {
		font-size: 16px;
		padding-top: 0;
	}
	.caption {
		text-transform: capitalize!important;
		margin-left: 6px;
		font-size: 14px;
	}
	&:hover {
		padding-top: 2px;
		border-bottom: 2px solid var(--border);
	}
	&.active {
		border-bottom: 2px solid var(--primary);
	}
}
.tab.active, .tab:hover {
	padding-top: 0;
}
