.issue-report-dialog {
  .report-issue-category {
    height: 42px;
    text-transform: capitalize;
    font-size: 14px;
    &.caption {
      color: var(--caption);
    }
  }
}

.category-menu {
  .MuiListItem-root {
    text-transform: capitalize;
  }
}
.dialog-description.inputContainer {
  height: 36px;
  font-size: 14px;
}

.global-modal-container {
  .MuiDialog-paper {
    min-width: 280px;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1260px) {
  .issue-report-dialog {
    .issueChipsRow {
      flex-wrap: wrap;
    }
  }
}
