.content-container {
  width: 40vw;
  max-width: 380px;
  height: auto;
  padding: var(--card-padding);
}

.dialog-caption {
  margin-top: -12px;
  font-size: 12px;
  color: var(--caption);
}

@media only screen and (max-width: 1260px) {
  .content-container {
    width: calc(100vw - 32px * 2 - 2 * var(--card-padding));
  }
}