.retracted {
  max-height: 580px;
}

.concise {
  padding: var(--card-padding);
  overflow: initial;
  & > .courseCard-header {
    align-items: center;
    .courseCard-title-container {
      margin-right: auto;
      width: 100%;
    }
    & .badge {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.courseCard {
  position: relative;
  overflow: hidden;
  .grade-row {
    height: 46px;
    min-width: 550px;
    margin-top: auto;
    margin-bottom: auto;
    &.concise {
      min-width: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .caption {
    margin: 0;
    overflow-wrap: anywhere;
    line-height: var(--line-height-caption);
  }
  &.concise {
  }
}
.courseLinkContainer {
  font-size: initial;
  width: fit-content;
}

.requirement-section {
  width: 100%;
}
.subHeading-container {
  width: 100%;
  .past-papers-container {
    display: flex;
    align-items: center;
    .open-icon {
      width: 20px;
      height: 20px;
    }
    .past-papers-link {
      margin-left: 4px;
    }
  }
}
.courseCard-title-container {
  margin-right: 8px;
}
.courseCard-header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  &.left {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 40px;
    height: 40px;
    color: var(--text);
  }
  .active {
    color: var(--primary);
  }
  .title {
    margin: 0 6px 0 0;
  }
}

.reviews-link-heading {
  cursor: pointer;
  svg {
    margin-left: 6px;
  }
}

@media only screen and (max-width: 1260px) {
  .courseCard {
    .grade-row {
      overflow: initial;
    }
  }
}
