.reviewEdit {
  --review-rowGap: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  margin: var(--card-padding) 0;
  padding: var(--card-padding) 10px;
  position: relative;
  row-gap: var(--review-rowGap);
  .headerSearchResult {
    position: absolute;
    margin-top: 70px;
  }
}

.reviewInputContainer {
  width: calc(100% - 36px);
  & textarea {
    min-height: 100px;
  }
}

.reviewHeaderContainer {
  width: 100%;
  align-items: center;

  .title {
    width: fit-content;
  }

  .light-caption {
    margin-left: 10px;
  }

  .anonymousSwitch {
    margin-left: auto;
    color: var(--text);
  }
}

.formSectionTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.8;
}

.termSelectionAnchor {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.reviewSectionHeader {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.reviewSectionTitle {
  cursor: pointer;
  svg {
    font-size: 16px;
    margin-left: 6px;
  }
}

.selection-group {
  background-color: var(--background-secondary);
  border-radius: 4px;
  margin-right: 4px;
  overflow: hidden;
}

.selecion-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  width: 26px;
  opacity: 0.4;
  &.selected {
    color: white;
    font-weight: 500;
    opacity: 1;
  }
}

.reviewSectionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--card-padding);
  width: 100%;
}

.reviewSectionContainer {
  row-gap: 8px;
}

.submitBtnRow {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;

  .reviewSectionContainer {
    width: calc(50% - 10px);
  }

  .reviewSectionHeader {
    margin-top: 0;
  }

  .submitBtn {
    width: 240px;
    height: 42px;
    background-color: var(--default-button-background);
    color: white;
    position: relative;
    overflow: hidden;
    .MuiButton-label {
      position: relative;
    }
    &:hover {
      background-color: var(--default-button-background);
    }
  }
}

.progress {
  position: absolute;
  height: 4px;
  background-color: var(--accent);
  left: -16px; // MuiLabel padding
  bottom: -10px; // MuiLabel padding
  transition: width 300ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.reviewEdit {
  .headerSearchResult {
    width: calc(100% - 13px * 2);
    top: 292px;
    border-top: 0;
    > .list-item-container {
      width: 100%;
    }
  }

  .searchListItem .title {
    font-size: 14px;
  }
}

.reviewEditDialog {
  .MuiDialog-paper {
    min-width: 320px;
  }
}

.headerSearchResult {
  height: fit-content;
  z-index: 30;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: var(--searchDropdown-width);
  max-height: calc(90vh - var(--header-height));
  overflow-y: scroll;
  overflow-x: hidden;
  & > .list-item-container {
    height: auto;
  }
}

@media only screen and (max-width: 1260px) {
  .reviewSectionsContainer {
    grid-template-columns: none;
  }
  .submitBtnRow {
    flex-direction: column;
    > {
      .reviewSectionContainer {
        width: 100%;
        margin-bottom: var(--card-padding);
      }
      .submitBtn {
        width: 100%;
      }
    }
  }
  .reviewEdit .headerSearchResult {
    margin-left: 11px;
  }
  .reviewEditDialog {
    .MuiDialog-paper {
      min-width: 280px;
    }
  }
  .headerSearchResult {
    left: 0;
    width: var(--searchDropdown-width); // 2px for border width
  }
}
