
.reviews-filter {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  svg {
    color: var(--text);
  }
  flex-direction: row;
  .filter-row {
    .reviewsFilterLabel {
      margin: 0;
      font-weight: 500;
    }
  }
  &.float {
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: inherit;
    box-shadow: 0 4px 10px rgba(46, 43, 43, 0.1);
  }
  button {
    &.edit {
      font-size: 18px;
      width: 32px;
      height: 32px;
    }
  }
}
.reviews-filter-menu {
}
.reviews-filter-ratings {
  align-items: center;
}
.reviewsFilterLabel {
  text-transform: capitalize;
  margin: 0 10px;
  font-size: 14px;
  color: var(--text);
}

@media only screen and (max-width: 1260px) {
  .reviews-filter {
    padding: 12px var(--card-padding);
  }
  .filter-row {
    button {
      .MuiButton-endIcon {
        margin-left: 0;
      }
    }
  }
}
