.message {
  --message-spacing: 6px;
  .char-icon {
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    margin-right: var(--message-spacing);
  }
}

.message-username {
  margin-right: var(--message-spacing);
  font-weight: 500;
  font-size: 14px;
}

.message-text {
  font-size: 14px;
}

.messages-container {
  row-gap: 14px;
  flex: 1;
  overflow-y: scroll;
  padding: 8px var(--card-padding) 8px var(--card-padding);
  margin: 0 -16px;
  background-color: var(--background-secondary);
  max-height: 300px;
}

.message-input-container {
  width: 100%;
  input {
    flex: 1;
    background-color: transparent;
    padding-left: 0;
  }
  .MuiIconButton-root {
    margin-right: 4px;
  }
}