.discussion-panel {
  --discussion-panel-height: calc(100vh - var(--header-height) - 2 * var(--page-margin) - 2px);
  flex: 1;
  flex-direction: row;
  max-height: var(--discussion-panel-height);
  .null-card-container {
    flex: 1;
  }
}

.discussion-item {
  padding: 4px 12px;
  width: calc(100% - 24px);
  .title {
    font-weight: 500;
  }
  .caption {
    margin-top: 4px;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 5px;
  }
}

.recent-discussions {
  overflow-y: scroll;
  max-height: 100%;
  flex: 1;
}

.discussion-list {
  --discussion-list-width: 280px;
  width: var(--discussion-list-width);
  max-width: var(--discussion-list-width);
  border-right: 1px solid var(--border);
  > header {
    border-bottom: 1px solid var(--border);
  }
  .search-dropdown {
    align-items: center;
    .search-panel {
      --search-panel-width: calc(100%);
    }
    .search-input-container {
      width: calc(100% - 40px);
      &.active {
        width: calc(100% - 40px);
      }
    }
  }
}

.messages-wrapper {
  flex: 1;
  max-height: 100%;
  > header {
    border-bottom: 1px solid var(--border);
    align-items: center;
  }
  .messages-container {
    max-height: calc(var(--discussion-panel-height) - 122px);
    min-height: calc(var(--discussion-panel-height) - 122px);
    background-color: transparent;
  }
  .message-input-container {
    height: 60px;
    input {
      background-color: var(--background-warm);
      margin: 0 var(--card-padding);
      height: 44px;
      padding-left: 12px;
    }
  }
}


@media only screen and (max-width: 1260px) {
  .discussion-panel {
    --discussion-panel-height: calc(100vh - var(--header-height));
  }
  .discussion-list {
    --discussion-list-width: 100vw;
    border-right: 0;
  }
}

