.discussion-container {
  .load-more-btn {
    margin-right: auto;
    margin-left: auto;
    .MuiButton-label {
      color: var(--primary);
      font-size: 12px;
    }
    border: 2px solid var(--primary);
  }
}
.message {
  --message-spacing: 10px;
  .text-icon {
    margin-right: var(--message-spacing);
  }
}

.message-username {
  margin-right: var(--message-spacing);
  font-weight: 500;
  font-size: 14px;
  .caption {
    margin-left: 4px;
    font-size: 12px;
  }
  margin-bottom: 4px;
  margin-top: -2px;
}

.message-text {
  font-size: 14px;
  font-weight: normal;
}

.messages-container {
  row-gap: 20px;
  flex: 1;
  overflow-y: scroll;
  padding: 8px var(--card-padding) 8px var(--card-padding);
  background-color: var(--background-secondary);
  max-height: 300px;
}

.message-input-container {
  width: 100%;
  input {
    flex: 1;
    background-color: transparent;
    padding-left: 0;
  }
  .MuiIconButton-root {
    margin-right: 4px;
  }
}
